name: Docker

on: 
  workflow_dispatch:
  
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:  
    - uses: actions/checkout@v3
    # - name: Pull latest changes
    #   run: |
    #     git config user.name 'github-actions'
    #     git config user.email 'github-actions@github.com'
    #     git pull -r
    #     cat package.json
    # - uses: actions/checkout@v3
    #   with:
    #     ref: ${{ needs.release.outputs.VERSION }}
    # - name: Set up QEMU
    #   uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Get the latest tag
      # run command that exports a variable called VERSION that can be used in a later step
      run: echo "VERSION=$(git describe --tags `git rev-list --tags --max-count=1`)" >> $GITHUB_ENV
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        no-cache: true
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/andygio:${{ env.VERSION }}
